<!DOCTYPE html>
<html>
  <head>
    <title>Testapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
<!-- Navigation -->
 
<div class='container'>
 <%= render 'layouts/navigation' %>

  <div class='jumbotron left my-3 header'>
  <h1>KhurramDBG</h1> 
  <p><button class='btn btn-danger'>Sign up now</button></p>
  </div>
  <!-- Page Content -->
 

  <%= render 'layouts/messages' %>

 <%= yield %>
        
 <%= render 'layouts/footer' %>

 </div>

  </body>
</html>
